<div class="footer">
	<div class="icons">
    	<i class="fa fa-facebook"></i>
	    <i class="fa fa-instagram"></i>
	    <i class="fa fa-pinterest "></i>
	    <i class="fa fa-twitter "></i>
	    <i class="fa fa-linkedin "></i>
    </div>
    <p>Powered By SagittarianQuotes</p>
</div>