<div class="header">
        <h1>SAGGITARIANQUOTES</h1><br>
        <p>Welcome to the world of sagittarius</p>
</div>

<div class="navbar">
		<a href="/">HOME</a>
		<a href="/quotes">QUOTES</a>
		<a href="/community">COMMUNITY</a>
		<a href="/man">SAGITTARIUS MAN</a>
</div>