<!DOCTYPE html>
<html>

<head>
	<title></title>
     <link rel="stylesheet" type="text/css" href="/css/default.css">
     <link rel="stylesheet" type="text/css" href="/css/home.css">
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>


<body>

	<%- include("partials/header") %>

	<div class="contents">
		<p class="bigger">ALL ABOUT SAGITTARIUS</p>
		<p class="smaller mar-30 mar40">The zodiac’s archer is forever aiming toward a supersized goal.</p>

		<div class="row mar40">
			<div class="column"><img class="image" width="310px" height="450px"src="/images/Logoonemin.png"></div>
			<div class="column"><p>As the zodiac’s traveler, Sagittarius is the ultimate
		free spirit—optimistic, open-minded and ambitious. You’re happiest in wide-open spaces with plenty of adventure and excitement. You juggle a million
		projects, hobbies and friends. The more, the merrier!
		Sagittarius is forever pursuing a super-sized goal, trying until you hit the bullseye. Even when you fail,
		nothing can keep you down. Inspiration is everything
		to you. As the sign of wisdom and truth, Sagittarius
		loves to “tell it like it is,” especially when it makes
		people laugh. However, your honesty doesn’t always
		come in the prettiest package. You’ve been known to
		hurt your friends’ feelings by speaking without thinking. Oops! Work on your patience, and be careful not to come off as a know-it-all. Although Sag loves the thrill of a new project or friendship, you don’t always stick around to finish what you start. Make an extra effort to keep your promises and commitments.<p></div>
		</div>

		<div class="row mar80">
			<div class="column">
				<p class="smaller">SAGITTARIUS</p>
				<p>Dates: November 22–December 21</p>
				<p>Symbol: The Archer</p>
				<p>Color: Chartreuse, indigo</p>
				<p>Ruling Planet: Jupiter, the planet of luck</p>
				<p>Good Day: Funny, inspiring</p>
				<p>Bad Day: Tacky, blunt</p>
		    </div>
		    <div class="column">
		    	<table>
		    		<tr>
		    			<td class="th" colspan="2" >CELEBRITY STARMATES</td>
		    		</tr>
		    		<tr>
		    			<td>Katie Holmes</td>
		    			<td>Dame Judi Dench</td>
		    		</tr>
		    		<tr>
		    			<td>Christina Aguilera</td>
		    			<td>“Snooki” Polliz</td>
		    		</tr>
		    		<tr>
		    			<td>Britney Spears</td>
		    			<td>Amanda Seyfried</td>
		    		</tr>
		    		<tr>
		    			<td>Vanessa Hudgens</td>
		    			<td>Tina Turner</td>
		    		</tr>
		    		<tr>
		    			<td>Taylor Swift</td>
		    			<td>Jennifer Connelly</td>
		    		</tr>
		    		<tr>
		    			<td>Scarlett Johansson</td>
		    			<td>Julianne Moore</td>
		    		</tr>
		    		<tr>
		    			<td>Christina Applegate</td>
		    			<td>Bette Midler</td>
		    		</tr>
		    		<tr>
		    			<td>Tyra Banks</td>
		    			<td>Katherine Heigl</td>
		    		</tr>
		    		<tr>
		    			<td>Felicity Huffman</td>
		    			<td>Nicky Minaj</td>
		    		</tr>
		    		<tr>
		    			<td>Sarah Silverman</td>
		    			<td>Jane Fonda</td>
		    		</tr>
		    	</table>
		    </div>
		</div>

		<div class="mar80">
			<p class="bigger ">DATE PLANNER</p>
			<div class="border">
				<p class="smaller">WHAT TO DO ON A DATE</p>
				<p>-Hit an ethnic restaurant with
                    live music and a dance floor</p>
				<p>-Outdoorsy dates like hiking,
					biking and horseback riding
					appeal to your wild side</p>
				<p>-Sign up for a workshop
					or evening class together.
					Discuss while taking a
					long walk afterwards:
					you love to explore both
					mentally and physically</p>
				<p>-Take a road trip with
					lots of spontaneous
					stops along the way</p>
				<p>-Visit a sweat lodge or sit in
					on a drumming circle and
					share a spiritual moment</p>
				<p>-Play sports together, like
                    racquetball or tennis</p>
				<p>-Hit a karaoke bar
                    and ham it up</p>
			</div>
		</div>

		<div class="mar80">
			<p class="bigger ">BREAKUP RECOVERY</p>
			<p class="smaller mar5">The Breakup Breakdown</p>
			<p >Fun-loving Sag, for all your wild and worldly ways, you take
			breakups hard. No matter how lighthearted you seem, you’re
			a sensitive soul whose feelings bruise easily. Although commitment can freak out your free-spirited sign, when you’re in, you’re
			in—at least for a while. Along the way, you’ll break many hearts.
			But somehow, you’re never prepared for your own to be broken!
			Lucky for you, Sagittarius is a symbolized by the Archer, who
			shoots arrow after arrow until hitting the bullseye. You always
			bounce back and try again. It’s that period between the breakup
			and the recovery that’s so fraught with drama. You’re a born optimist and you’re always willing to give things another try. When
			the other person refuses to cooperate, it’s a challenge to accept
			this and move on.
			Sagittarius rules the higher mind, so stay in yours by meditating, reading inspirational books, or taking classes (Sag is the zodiac’s student). Although letting go
			can be agonizing for a sign that hates the word “no,” you’ll eventually develop
			a wise perspective. In fact, when you meet your next match, you’ll be thankful
			your ex broke it off. Eventually, you develop a friendship with most of your past
			lovers, and may even be the matchmaker who arranges their next relationships.</p>
		</div>

		<div class="mar80">
			<p class="bigger">Heart Healing Tips for Sagittarius</p>
			<p class="smaller mar5">ABANDON ALL HOPE.</p>
			<p class="mar20">Sagittarius is the optimist sign, and you get hung up on
			hope like nobody’s business. Once you put on those rosecolored glasses, you can turn Johnny Loser into your future
			husband. As the sign that also rules honesty, Sags need a
			dose of reality. Was he smiling at you? (Nope; it was just
			gas from his Mexican Fiesta lunch special.) Did he really
			mean it when he said, “Maybe our paths will cross again
			someday”? (Nah, he was just trying to exit kindly.) .</p>
			<p class="smaller mar5">HAVE A FLING JUST FOR FUN</p>
			<p class="mar20">Sagittarius is a physical sign that rules adventure. Get your
			groove back with a *safe,* just-for-kicks fling. Your sign
			rules abundance, so indulge! To avoid a fatal attraction,
			be 100% honest with your playmates (Sag is the zodiac’s
			truth-teller). Don’t promise a relationship—just be totally
			up front all the way. Sagittarius is an ethical sign, but don’t
			let your morals interfere with your right to good, clean fun.</p>
			<p class="smaller mar5">GET OUT OF TOWN.</p>
			<p class="mar20">Sagittarius is the sign of the traveler, and nothing restores
			your positive outlook like a good vacation. (As Sagittarians,
			you always do your best thinking on the road!) No need to
			spend thousands on an exotic island destination. Go visit
			your friend in Iowa for a low-budget escape. Knowing you,
			you’ll find the hidden treasures there, or just enjoy some
			good outdoor fun. Bring a few books, since Sags love to
			read. Vacation energy puts your focus back on the big picture, where it belongs. If you can’t get away, tap into the
			spirit of travel: take a day trip, eat at a restaurant in another
			part of town, buy hotel-quality sheets for your bed, pick up
			brochures at a travel agency and start planning a getaway.</p>
	    </div>

	    <div class="mar80">
	    	<p class="bigger">CAREER &amp LIFE PURPOSE</p>
	    	<p class="smaller mar5">The Sagittarius path</p>
	    	<p class="mar10">A job with flexibility and challenge is essential because you bore
			easily. You’re the sign of the gambler and the hunter, so extreme
			living—working hard, then playing hard—appeals to you. You
			do great with seasonal work or short-term contracts. You’re a
			clear, creative thinker with a vision of the big picture, and you
			love to share your accumulated wisdom. You're best off working
			for yourself and setting your own schedule, because you don’t
			want to be confined to an office. You’re a forward-thinking person who seeks constant challenges. While you love to mentor,
			you prefer not to manage people. You’ve got bigger fish to fry!
			As with everything, Sagittarius, you need a career that offers a
			wide playing field with plenty of freedom and excitement. You’re
			the sign of the traveler, an inspired visionary who requires big
			dreams and lots of stimulation. Sitting still is a challenge!
			As the sign that rules higher education, you’re a lifelong learner
			and teacher. Load up on classes and books that expand your
			mind and spark new ideas. You love to make people think AND
			laugh, like Sagittarius wordsmiths Winston Churchill, Mark
			Twain and Jay-Z. Sagittarius rules publishing and public speaking—two great outlets for your unusual ideas. Your sign has an
			intuitive understanding of how media works. Designing websites, editing magazines, and creating marketing documents may
			be things that come naturally to you.
			If you’re an extremely restless Sagittarius, consider outdoor
			work, like landscape architecture, guiding people on tours, or
			even selling handcrafted goods in a daily flea market. Your sign
			also rules travel, so you could work in another country, as a
			travel agent, or in a job that keeps you on the road.</p>
			<div class="border mar10">
				<p class="smaller">BEST CAREERS
                   FOR A SAGITTARIUS</p>
				<p>entrepreneur</p>
				<p>motivational speaker</p>
				<p>travel agent</p>
				<p>publisher</p>
				<p>life coach</p>
				<p>corporate consultant </p>
				<p>professor</p>
				<p>web developer</p>
				<p>outdoor guide</p>
				<p>anthropologist</p>
				<p>pop star</p>
				<p>advice columnist</p>
			</div>
			<p class="smaller mar10">Pitfalls to avoid</p>
			<p class="mar10">Self–doubt. Your ideas are innovative, but you panic when
			things hit a bump. You begin doubting the value of your
			ideas, and may abandon a valuable project due to a temporary
			setback. When you lose perspective, talk to someone who
			believes in you. An infusion of encouragement will put you
			back on track.</p>
			<p class="mar10">Doing everything yourself. This is also known as the “I can
			do it better” syndrome. To execute a giant vision, you have to
			pass the ball to other players. But you have a hard time trusting others to do it right. You also don’t want to sit down and
			plan, fearing that once you look at “reality,” you’ll discover
			your idea won’t work. Take a deep breath and do that groundwork. You’ll feel relieved in the end.</p>
			<p class="mar10">Remember, by trying not to commit to one thing, you can
			spread yourself too thin and end up overwhelmed. If you
			crave variety, consider doing seasonal work, consulting, or
			signing on as an independent contractor rather than a fulltime employee. This gives claustrophobic Sag a short-term
			deadline and flexible hours while still providing financial
			security. </p>
			<div class="border">
				<p class="smaller">YOUR ULTIMATE PURPOSE:</p>
				<p>To unite people from different cultures and walks of life.</p>
			</div>
	    </div>

	    <div class="mar80">
	    	<p class="bigger">MONEY</p>
	    	<p class="smaller mar10">How to Attract more wealth</p>
	    	<p>As the zodiac’s hunter, you don’t do anything
			unless there’s a grand prize at the end. Don’t save
			for saving’s sake. Instead, aim for something that
			inspires you. For example, you could earn $20,000
			with a goal of traveling the world for six months.
			Sagittarius is the sign of the student, and life is your
			school. Invest in lifelong learning and fulfillment,
			with enough left over for long-term security. </p>
	    </div>

	    <div class="mar80">
	    	<p class="bigger">TRAVEL</p>
	    	<p class="smaller mar10">Passport, please! There’s no place on earth a globe-trotting Sag won’t go. </p>
	    	<p>T
			he sign of the long-distance traveler, Sagittarius
			would rather spend life on the road than be settled.
			You feel most free and inspired while voyaging, and
			the farther away you trek, the better. Exotic locales like
			Bali, Asia and Eastern Europe, or multi-culti metropolis—like NYC or Buenos Aires—call to you. Outdoor
			adventure trips also appeal to your natural athleticism, and you love anything that demands stamina or
			challenge. A sidenote: guided group tours are not for
			you—you hate following other people’s agendas. You
			want to travel on your own terms!
			You may live in another country, and as a seeker of
			knowledge, you could become a tour guide for a travel company or even travel for a humanitarian cause.
			You’re really comfortable anywhere and want to dig
			deep into the culture and people of the countries you visit. Always on the lookout for the next daring escapade, you find it hard to sit still because it dampens
			your natural instincts to live life to the fullest.
			Since you can’t live out of your suitcase 365 days a year, Sagittarians would do
			well to incorporate a spirit of travel into everyday life. Decorate your home with
			touches of your favorite hotel or resort. Hang travel photos and artifacts, study
			new languages while you're local, and always have your next trip planned.</p>
	    </div>

	    <div class="mar80">
	    	<p class="bigger">ENTERTAINING</p>
	    	<p class="smaller mar10">Throw a party for 120 of your closest friends. Again.</p>
	    	<p>You adore a big party where you can bring people from all walks of life together.
			Among your diverse entourage, you’re the “glue.” You love to network and introduce your friends, who are about as different as a group of people can get. Because
			life is a party for you and you have a robust drive for
			excitement, it’s important to celebrate regularly. You
			can do this in innumerable ways—singing karaoke,
			dancing, feasting or holding a huge barbecue—anything that brings people together, laughing, reveling,
			and enjoying life.
			An annual party is a good idea because you're so busy
			with your zillion projects and classes that most people
			don’t see you as often as they like. Plan a large chunk
			of time in a setting that has space for both intimate
			conversations and loud, bawdy behavior like dancing, singing or live music. Rest up beforehand, throw
			on something comfortable and funky, and party until
			sunrise.
			At times, you may have to push yourself out of workaholic mode and mingle. You're notorious for skipping
			engagements, even those to which you've given a firm
			RSVP, because you're caught up with a project. Like
			it or not, your presence makes a difference to people.
			Consider your attendance an investment in the relationship and just show up. At
			the end of the day, it's who you know, not what you do, that makes life smoother
			anyway. Make time to cultivate your personal relationships by celebrating special
			moments with your loved ones.</p>
	    </div>
    </div>

    <%- include("partials/footer") %>

	<script src="/javascript/home.js"></script>
</body>
</html>