<!DOCTYPE html>
<html>
<head>
	<% include ("./partials/head") %>
</head>
<body>
     <% for(var article in articles){ %>
         <h1><%= article.title %></h1>  
         <p><%= article.content %></head><p>      
     <% }  %>
</body>
</html>