<!DOCTYPE html>
<html>
<head>
	<% include ("./partials/head") %>
</head>
<body>
     <% cs.forEach((data)=>{  %>
         <h1><%= data.title%></h1> 
	 <p><%= data.content%></p>
     <% })  %>
</body>
</html>
