*{
	box-sizing: border-box;
}
.header{
	font-family: "Raleway", sans-serif;
	text-align: center;
	background-color: #f2f2f2;
	padding:30px 0px;
}
.header h1{
	font-size: 45px;
}
.navbar{
	display:flex;
	background-color: black;
	position:sticky;
	top:0px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19),
      0 6px 6px rgba(0,0,0,0.23);

}
.navbar a{
	text-decoration: none;
	padding:14px 20px;
	color:white;
}
.navbar a:hover{
	color:black;
	background-color: grey
}
.article{
	background-color: #FC4A1A;
	padding:50px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19),
 0 6px 6px rgba(0,0,0,0.23);
 margin: 30px 30px 0px 0px;
}
.add a{
	display: inline-block;
	color:black;
	background-color: green;
	padding:12px 15px;
	margin-top: 18px;
}
.add :hover{
	background-color: #00b33c;
}
.h1{
	font-size: 45px;
	font-family: 'Jaldi', sans-serif;
	text-align: left;
	margin-bottom: 30px;
}
.p{
	font-size: 25px;
	font-family: 'Quicksand', sans-serif;
	text-align: justify;
	padding-left: 65px;
}
.button{
	padding:10px 15px;
	background-color: grey;
	color:white;
}
.button:hover{
	background-color: lightgrey;
}
.pagination{
	margin:0px auto;
	width:400px;
	padding:15px 0px;
	overflow: auto;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  font-size:30px;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}

.footer{
	text-align:center;
	color:white;
	background-color: black;
	padding:45px 0px;
}
.icons{
	font-size: 30px;
}
.icons i{
	cursor: pointer;
}
.icons i:hover{
	color:grey;
}