*{
	box-sizing: border-box;
}
.header{
	font-family: "Raleway", sans-serif;
	text-align: center;
	background-color: #f2f2f2;
	padding:30px 0px;
}
.header h1{
	font-size: 45px;
}
.navbar{
	display:flex;
	background-color: black;
	position:sticky;
	top:0px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19),
      0 6px 6px rgba(0,0,0,0.23);

}
.navbar a{
	text-decoration: none;
	padding:14px 20px;
	color:white;
}
.navbar a:hover{
	color:black;
	background-color: grey
}
.contents{
	width:80%;
	margin:0px auto;
	padding:90px 0px;
	font-size: 20px;
}
.bigger{
	font-size:50px;
	color:#ff4d6a;
	margin-bottom: 30px;
	font-family: 'Roboto', sans-serif;
}
.smaller{
	color:#99001a;
	font-size:25px;
	font-family: 'Roboto', sans-serif;
}
.row{
	display:flex;
	flex-wrap:wrap;
}
.column{
	flex:50%;
	padding:0px 50px;
	font-family: 'Arial',sans-serif;
}
.image{
	display: block;
	margin:0px auto;
}
.th{
	color:#ff4d6a;
	background-color: #990000;
	font-size:30px;
	font-family: 'Roboto', sans-serif;
	padding:10px 15px;
	margin-bottom: 15px;
}
td{
	background-color:#ffb3bf;
	padding:5px 20px;
}
.border{
	border:2px dotted #ff4d6a;
	border-radius: 10px;
	padding:15px 15px;
}
.border p{
	margin-bottom:7px;
}
.mar80{
	margin-bottom:80px;
}
.mar10{
	margin-bottom: 10px;
}
.mar20{
	margin-bottom: 20px;
}
.mar-30{
	margin-top:-30px;
}
.mar5{
	margin-bottom: 5px;
}
.mar40{
	margin-bottom: 40px;
}
.footer{
	text-align:center;
	color:white;
	background-color: black;
	padding:45px 0px;
}
.icons{
	font-size: 30px;
}
.icons i{
	cursor: pointer;
}
.icons i:hover{
	color:grey;
}